/* General */
html, body {
    height: 100%;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.dark {
    color-scheme: dark;
}
.light {
    color-scheme: light;
}

:root {
    --bg: #0a0a0a;
    --bg-dim: #0f0f10;
    --bg-highlighted: #171717;
    --fg-highlighted: #ffffff;
    --fg: #adadad;
    --fg-muted: #919191;
    --primary: #307ee5;
    --fg-on-primary: #ffffff;
    --sidebar-margin: 1rem;
    --border: rgba(255, 255, 255, 0.1);
    --mobile-header-height: 0;
    --left-width: 280px;
    --right-width: 240px;

    /* https://blueprintjs.com/docs/#core/colors
       topmost with -22 is bg, top-most is border, bottom-most is fg */
    --red-bg: #AC2F3322;
    --red-border: #AC2F33;
    --red-fg: #FA999C;
    --blue-bg: #184A9022;
    --blue-border: #184A90;
    --blue-fg: #8ABBFF;
    --green-bg: #165A3622;
    --green-border: #165A36;
    --green-fg: #72CA9B;
    --orange-bg: #77450D22;
    --orange-border: #77450D;
    --orange-fg: #FBB360;
    --indigo-bg: #5642A622;
    --indigo-border: #5642A6;
    --indigo-fg: #BDADFF;
    --vermilion-bg: #96290D22;
    --vermilion-border: #96290D;
    --vermilion-fg: #FF9980;
    --turquoise-bg: #004D4622;
    --turquoise-border: #004D46;
    --turquoise-fg: #7AE1D8;
    --lime-bg: #43501B22;
    --lime-border: #43501B;
    --lime-fg: #D4F17E;
}

.light {
    --bg: #ffffff;
    --bg-dim: #ffffff;
    --bg-highlighted: #d9dce1;
    --fg-highlighted: #000000;
    --fg: #363636;
    --fg-muted: #4d4d4d;
    --primary: #307ee5;
    --sidebar-margin: 1rem;
    --border: rgba(0, 0, 0, 0.1);

    --red-fg: var(--red-border);
    --blue-fg: var(--blue-border);
    --green-fg: var(--green-border);
    --orange-fg: var(--orange-border);
    --indigo-fg: var(--indigo-border);
    --vermilion-fg: var(--vermilion-border);
    --turquoise-fg: var(--turquoise-border);
    --lime-fg: var(--lime-border);
}

.mobile-header {
    display: none;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: var(--mobile-header-height);
}
@media (max-width: 768px) {
    :root {
        --mobile-header-height: 3rem;
        --left-width: 80vw;
        --left-width: clamp(240px, 80vw, 400px);
        --right-width: 80vw;
        --right-width: clamp(240px, 80vw, 400px);
    }
    #main {
        height: calc(100% - var(--mobile-header-height));
        max-height: calc(100% - var(--mobile-header-height));
    }
    .mobile-header {
        display: block;
    }
    .left, .right-inner {
        transition: transform .15s ease;
    }
    .left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
    }
    .content {
        overflow-x: clip !important;
        position: relative;
    }
    body:not(.left-open) .left {
        transform: translateX(-100%);
    }
    .right {
        position: absolute !important;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 99;
    }
    body:not(.right-open) .right-inner, body:not(.right-open) .right {
        transform: translateX(100%);
    }
    .content {
        display: block !important;
    }
}

#main {
    display: flex;
    height: 100%;
    background-color: var(--bg);
    color: var(--fg);
}

/* Main Layout */
.content-inner, .left, .right {
    overflow: visible;
}

.left {
    width: var(--left-width);
    min-width: var(--left-width);
    max-width: var(--left-width);
}
.right {
    width: var(--right-width);
    min-width: var(--right-width);
    max-width: var(--right-width);
}

.right {
    position: relative;
}
.right-inner {
    position: fixed;
    height: 100%;
    width: var(--right-width);
    overflow: hidden;
    background-color: var(--bg);
}
.right-inner:hover {
    overflow: auto;
}

.left {
    background-color: var(--bg-dim);
    overflow: auto;
    height: 100vh;
    border-right: 1px solid var(--border);
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.content-inner {
    max-width: 800px;
    min-width: 600px;
    margin: 0 20px;
}

/* Tree */
.sidebar-header {
    margin: 1rem calc(var(--sidebar-margin) + .7rem) .2rem calc(var(--sidebar-margin) + .7rem);
    font-size: 1rem;
    color: var(--fg-highlighted);
    font-weight: 500;
    text-transform: uppercase;
}

.tree {
    margin: 0 var(--sidebar-margin);
    padding: 0;
}

.tree ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 1rem;
    border-left: 1px solid var(--border);
}
/*.tree.hoist > li > ul {
    border-left: none;
    margin-left: 0;
}
.tree.hoist > li > ul > li  {
    margin-left: 0;
}*/
.tree li {
    list-style: none;
    margin-left: .2rem;
}
.tree button, .tree a, .tree .hoisted-heading {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 2px;
    padding: .2rem .6rem;
    border-radius: 4px;

    text-decoration: none;
    border: none !important;
    background: none;
    font: inherit;
    text-align: left;
    cursor: pointer;
    outline: none;

    font-weight: 500;
    font-size: .9rem;
    color: var(--fg);
}
.tree button span, .tree a span, .tree .hoisted-heading span {
    flex-grow: 1;
}
.tree button svg:first-child, .tree a svg:first-child, .tree .hoisted-heading svg:first-child {
    margin-right: .5rem;
}
.tree button:hover, .tree a:hover, .tree li.active a, .tree li.active button {
    background-color: var(--bg-highlighted);
}
.tree li.active a, .tree li.active button {
    background-color: var(--primary);
    color: var(--fg-on-primary) !important;
}
.tree .hoisted-heading {
    color: var(--fg-highlighted);
    margin-bottom: .5rem;
    cursor: default;
    border-radius: 0;
    font-size: 1rem;
}
.tree li:not(:first-child) .hoisted-heading {
    margin-top: 1.5rem;
}

.tree li.active a, .tree li.active button {
    color: var(--fg-highlighted);
}
.tree button:focus-visible, .tree a:focus-visible {
    outline: 1px solid var(--fg-highlighted);
    outline-offset: -2px;
}

.tree button svg:last-child {
    transition: transform .2s ease;
}
.tree li.open > button svg:last-child {
    transform: rotate(90deg);
}

.tree [data-folder-item] > ul {
    transition: height .2s ease;
    overflow: hidden;
}

/* Sidebar Styles */
.page-header {
    font-size: 1.2rem;
    margin: 1rem var(--sidebar-margin);
    display: flex;
}

.page-header a {
    color: var(--fg-highlighted);
    text-decoration: none;
    font-weight: 500;
    flex-grow: 1;
    border: none !important;
}

.color-mode-switch {
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: .5rem .5rem;
    background-color: var(--bg-dim);
    color: var(--fg);
    cursor: pointer;
}
.dark .color-mode-switch .sun {
    display: none;
}
.light .color-mode-switch .moon {
    display: none;
}

.search-container {
    margin: 1rem var(--sidebar-margin);
}

.search-button {
    background-color: var(--bg);
    border-radius: 4px;
    padding: .3rem .6rem;
    border: 1px solid var(--border);
    display: flex;
    color: var(--fg);
    width: 100%;
    gap: .2rem;
    align-items: center;
    cursor: pointer;
}

.search-button .text {
    flex-grow: 1;
    text-align: left;
}

.search-button .kbd {
    color: var(--fg-highlighted);
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--bg-dim);
    padding: .2rem .4rem;
}

.search-button:hover, .search-button:focus-visible {
    border: 1px solid var(--fg-muted);
    background-color: var(--bg-highlighted);

}

/* Search */
#search-dialog {
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--bg-dim);
    min-width: 300px;
    width: 30vw;
    min-height: 300px;
    height: 30vh;
    overflow-y: auto;
}

#search-input {
    background-color: var(--bg-highlighted);
    border-radius: 4px;
    border: 1px solid var(--border);
    color: var(--fg);
    padding: .5rem .5rem;
    width: 100%;
    font-size: 1rem;
    outline: none;
}
#search-input:focus {
    outline: none;
}
#search-results {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-top: .5rem;
}
.search-result {
    background-color: transparent;
    border-radius: 4px;
    padding: .3rem .6rem;
    color: var(--fg);
    width: 100%;
    align-items: center;
    cursor: pointer;
    text-align: left;
    border: 1px solid transparent;
}
.search-result:hover, .search-result:focus-visible, .search-result.focused {
    border: 1px solid var(--fg-muted);
    background-color: var(--bg-highlighted);
}

/* Content TODO move */
h1, h2, h3, h4, h5, h6 {
    position: relative;
    overflow: visible;
}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor,
h1:focus-within .anchor, h2:focus-within .anchor, h3:focus-within .anchor, h4:focus-within .anchor, h5:focus-within .anchor, h6:focus-within .anchor {
    opacity: 1;
}
.anchor, .anchor:visited {
    position: absolute;
    left: -1.5rem;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    color: var(--fg);
    border: none !important;
}
.anchor:hover {
    color: var(--fg-highlighted);
}
.anchor svg {
    width: 1rem;
}

h1 {
    border-bottom: 1px solid var(--border);
    padding-bottom: .5rem;
    font-size: 2.2rem;
}
h2 {
    border-bottom: 1px solid var(--border);
    padding-bottom: .5rem;
    margin: 2rem 0 0 0;
}
h3 {
    margin: 2rem 0 0 0;
}
h4 {
    margin: 2rem 0 0 0;
}
h5 {
    margin: 2rem 0 0 0;
}
h6 {
    margin: 2rem 0 0 0;
}
a {
    text-decoration: none;
    border-bottom: 1px dashed var(--fg-muted);
    color: var(--fg);
}
a:hover {
    color: var(--fg-highlighted);
    border-bottom: 1px solid var(--fg-highlighted);
}
blockquote {
    border-left: 4px solid var(--primary);
    background-color: var(--bg-dim);
    margin-left: 1rem;
    padding: 1px 1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.admonition, .markdown-alert {
    background-color: var(--_bg, var(--bg-dim));
    border: 1px solid var(--_border, var(--border));
    margin: .5rem 0;
    padding: .5rem .5rem .5rem 0;
    border-radius: 4px;
}
.admonition-title, .markdown-alert-title {
    display: flex;
    align-items: center;
    color: var(--_fg, var(--fg));
    margin: 0 .5rem;
    font-weight: 500;
}
.admonition > *:not(.admonition-title), .markdown-alert > *:not(.markdown-alert-title) {
    margin-left: calc(20px + 8px + .5rem);
}
.admonition > *:last-child, .markdown-alert > *:last-child {
    margin-bottom: 0;
}
.admonition-title::before, .markdown-alert-title::before {
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    mask: var(--icon, "") no-repeat 50% 50%;
    mask-size: cover;
    background-color: var(--_fg, var(--fg));
    margin-right: 8px;
}
.markdown-alert-title > svg {
    display: none;
}